.video_container {
    max-height: 100%;

    .video_pause_btn {
        opacity: 0;
        transition: all 0.5s linear;
    }

    .control_container {
        z-index: 5;
        &:hover {
            .video_pause_btn {
                opacity: 1;
                transition: none;
            }
        }
    }
}