.media_list_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.wobble:hover {
  animation: wobble 0.2s linear 0s 2;
}

.media {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  user-select: none;
}

.show_cursor {
  cursor: auto;
}

.hide_cursor {
  cursor: none;
}

@keyframes wobble {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2deg);
  }
  0% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.sc-ifAKCX {
  display: flex;
  align-items: center;
}

.dragged_media {
  object-fit: cover;
}

.dragged_media .media {
  object-fit: cover;
  aspect-ratio: 1;
  width: 100%;
}

.dragged_media i {
  background-color: #00000020;
}

.nav_btn {
  font-size: 24px;
}

@media screen and (max-width: 991.5px) {
  .media_list_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767.5px) {
  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .media_list_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .media_list_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .media_list_container {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .media {
    max-width: 200px;
  }
}